<!DOCTYPE html>
<html>
<head>
    <style>

    div.static{
        position: absolute;
        top: 100px;
        left:100px;
    }
    img{
        position: absolute;
        top: 150px;
        right:200px;
    }

    </style>
</head>
<body>

<div class="static">
<h2 style='font-size:50px;'>Predicting Chance of Admission</h2>
    <p style='font-size:40px;'>Prediction: <b style='font-size:40px;' ><u>You don't have a chance</u> </b><b style='font-size:60px;'>&#128078;</b> </p>
</div>

<img align="right" src="https://cdn.theatlantic.com/thumbor/EttWWi65enmtwd-idy25ig99TYU=/621x0:4334x2785/1200x900/media/img/mt/2020/05/rejection_from_university_final_high_res-2/original.jpg" alt="" width="550" height="400" >

</body>
</html>