<!DOCTYPE html>
<html>
<head>
    <style>

    div.static{
        position: absolute;
        top: 100px;
        left:100px;
    }

    </style>
</head>
<body>

<div class="static">
<h1 style='font-size:50px;'>Predicting Chance of Admission</h1>
    <p style='font-size:40px;'>Prediction: <bstyle='font-size:40px;'><u>You have a chance</u> </b><b style='font-size:60px;'>&#128077;</b> </p>
</div>

<img align="right" src="https://static.vecteezy.com/system/resources/thumbnails/002/026/980/small_2x/congratulations-graduation-illustration-graphic-free-vector.jpg" alt="" width="800" height="600" >

</body>
</html>